<div id="page-title-wrap" class="page-title-wrap clearfix">
    <h1 class="page-title pull-left fs-4 fw-light">
        {{#title current}}{{#if icon}}<i class="fa {{icon}} icon-mr fs-4"></i>{{/if}}<span class="hidden-xs-down">{{name}}</span>{{/title}}
    </h1>
    <div class="smart-links">
        <ul class="nav" role="tablist">
            <li class="nav-item">
                <a class="nav-link clear-style aside-trigger" data-aside="#aside" data-toggle="tab" href="#aside-contacts" role="tab"><i class="fa fa-book"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link clear-style aside-trigger" data-aside="#aside" data-toggle="tab" href="#aside-uploads" role="tab"><i class="fa fa-cloud-upload"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link clear-style aside-trigger" data-aside="#aside" data-toggle="tab" href="#aside-settings" role="tab"><i class="fa fa-sliders"></i></a>
            </li>
        </ul>
    </div>
</div>
