{{#block "footer"}}
    <span class="fs-7">
        <i class="icon-layers fs-4 mr-2 c-body-inverse-darker"></i>
        Reactive v.{{version}}
        <span class="hidden-xs-down">- Admin Template</span>
        <span class="ml-1">&copy; 2017</span>
    </span>
    <div class="footer-details">
        <a target="_blank" class="c-body-inverse-darker pull-right fs-6-plus mr-4" href="https://themeforest.net/item/reactive-responsive-admin-template/20407621">Purchase Now</a>
        <a class="c-body-inverse-darker pull-right fs-6-plus mr-2" href="documents.html">Documentation</a>
        <a class="c-body-inverse-darker pull-right fs-6-plus mr-2" href="documents.html#support">Support</a>
    </div>

{{/block}}
