/*-------------------
       View
--------------------*/

$upload-max-width: 100% !default;
$upload-margin: 0 !default;

/*-------------------
      Elements
--------------------*/

/* Drag Drop */
$upload-drag-drop-height: 12em !default;
$upload-drag-drop-padding: 4em 0 !default;
$upload-drag-drop-border: 2px dashed $gray-lighter !default;
$upload-drag-drop-background: $white-darkest !default;
$upload-drag-drop-font-weight: 100 !default;

/* Upload list */
$upload-list-item-height: 50px !default;
$upload-circle-width: 38px !default;
$upload-list-item-space-y: 6px !default;
$upload-progress-circle-color: $gray !default;


/*-------------------
        Dropzone
--------------------*/
$dropzone-image-size: 120px !default;
$dropzone-image-border-radius: 20px !default;
$dropzone-mark-height: 54px !default;
$dropzone-mark-width: 54px !default;
$dropzone-error-message-width: $dropzone-image-size + 20px !default;
$dropzone-error-messge-color: $brand-danger !default;
