{{#extend "layout-1" current='colors'}}
{{! append html code into the content block declared in the layout partial }}
    {{#content "content" mode="append"}}
        <div class="container-fluid content-wrap bgc-white-dark">
            <div class="row panel-grid" id="panel-grid">
                <div class="col-sm-12 col-md-12 col-lg-12 panel-wrap panel-grid-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark b-shadow-none">
                        <div class="panel-body pt-2">
                            <div class="mb-3 dynamic-color-row">
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-primary-darkest">primary-darkest</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-primary-darker">primary-darker</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-primary-dark">primary-dark</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-primary-normal">primary-normal</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-primary-light">primary-light</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-primary-lighter">primary-lighter</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-primary-lightest">primary-lightest</div>
                                </div>
                            </div>
                            <div class="mb-3 dynamic-color-row">
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-success-darkest">success-darkest</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-success-darker">success-darker</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-success-dark">success-dark</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-success-normal">success-normal</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-success-light">success-light</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-success-lighter">success-lighter</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-success-lightest">success-lightest</div>
                                </div>
                            </div>
                            <div class="mb-3 dynamic-color-row">
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-info-darkest">info-darkest</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-info-darker">info-darker</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-info-dark">info-dark</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-info-normal">info-normal</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-info-light">info-light</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-info-lighter">info-lighter</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-info-lightest">info-lightest</div>
                                </div>
                            </div>
                            <div class="mb-3 dynamic-color-row">
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-danger-darkest">danger-darkest</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-danger-darker">danger-darker</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-danger-dark">danger-dark</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-danger-normal">danger-normal</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-danger-light">danger-light</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-danger-lighter">danger-lighter</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-danger-lightest">danger-lightest</div>
                                </div>
                            </div>
                            <div class="mb-3 dynamic-color-row">
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-orange-darkest">orange-darkest</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-orange-darker">orange-darker</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-orange-dark">orange-dark</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-orange-normal">orange-normal</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-orange-light">orange-light</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-orange-lighter">orange-lighter</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-orange-lightest">orange-lightest</div>
                                </div>
                            </div>
                            <div class="mb-3 dynamic-color-row">
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-warning-darkest">warning-darkest</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-warning-darker">warning-darker</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-warning-dark">warning-dark</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-warning-normal">warning-normal</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-warning-light">warning-light</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-warning-lighter">warning-lighter</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-warning-lightest">warning-lightest</div>
                                </div>
                            </div>
                            <div class="mb-3 dynamic-color-row">
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-purple-darkest">purple-darkest</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-purple-darker">purple-darker</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-purple-dark">purple-dark</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-purple-normal">purple-normal</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-purple-light">purple-light</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-purple-lighter">purple-lighter</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-purple-lightest">purple-lightest</div>
                                </div>
                            </div>
                            <div class="mb-3 dynamic-color-row">
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-pink-darkest">pink-darkest</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-pink-darker">pink-darker</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-pink-dark">pink-dark</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-pink-normal">pink-normal</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-pink-light">pink-light</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-pink-lighter">pink-lighter</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-pink-lightest">pink-lightest</div>
                                </div>
                            </div>
                            <div class="mb-3 dynamic-color-row">
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-darkest">body-darkest</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-darker">body-darker</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-dark">body-dark</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-normal">body-normal</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-light">body-light</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-lighter">body-lighter</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-lightest">body-lightest</div>
                                </div>
                            </div>
                            <div class="mb-3 dynamic-color-row">
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-inverse-darkest">body-inverse-darkest</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-inverse-darker">body-inverse-darker</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-inverse-dark">body-inverse-dark</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-inverse-normal">body-inverse-normal</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-inverse-light">body-inverse-light</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-inverse-lighter">body-inverse-lighter</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-body-inverse-lightest">body-inverse-lightest</div>
                                </div>
                            </div>
                            <div class="mb-3 dynamic-color-row">
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-gray-darkest">gray-darkest</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-gray-darker">gray-darker</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-gray-dark">gray-dark</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-gray">gray</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-gray-light">gray-light</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-gray-lighter">gray-lighter</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-gray-lightest">gray-lightest</div>
                                </div>
                            </div>
                            <div class="dynamic-color-row">
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-white-darkest">white-darkest</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-white-darker">white-darker</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-white-dark">white-dark</div>
                                </div>
                                <div class="dynamic-color-column">
                                    <div class="dynamic-color bgc-white">white</div>
                                </div>
                                <div class="dynamic-color-column"></div>
                                <div class="dynamic-color-column"></div>
                                <div class="dynamic-color-column"></div>
                            </div>
                        </div>
                    </div>
                    <!--End Panel-->
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "foot" mode="append"}}
        <script>
            SystemJS.import('scripts/app');
        </script>
    {{/content}}
{{/extend}}
