{{#extend "layout-1" current='panel-pin-responsive'}}
    {{#content "content" mode="append"}}
        <div class="container-fluid content-wrap">
            <div class="row mb-4">
                <section class="col-sm-12 col-md-12 col-lg-12 panel-wrap panel-grid-item grid-stack-item" data-gs-locked="true" data-gs-no-resize="true" data-gs-no-move="true">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark pb-2">
                        <div class="panel-header clearfix  bgc-white-darkest panel-header-lg">
                            <h2 class="pull-left">
                                Pin Panels
                            </h2>
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0">Panels could be pinned into the header <strong>responsively</strong> with <code>hidden-*-down</code> classes. Use <code>data-smart-icon</code> attribute to specify an icon class</p>
                            <p class="mb-0">Change the browser window width to monitor the <i>responsive pin</i> in action</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
            </div>
            <div class="row panel-grid grid-stack">
                <section data-gs-height="80" class="hidden-xl-down col-sm-3 col-md-3 col-lg-3 col-xl-3 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p grid-stack-handle bgc-white-dark panel-header-sm">
                            <h2 class="pull-left">
                                Responsive Pin
                            </h2>
                            {{#embed "panel-icons" slide="1"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0">Class: <code>hidden-xl-down</code></p>
                            <p class="mb-0">Smart Icon: default</p>
                            <p class="mb-0">Panel <strong>Active</strong> Width: Aside Width</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section data-gs-height="80" data-gs-x="3" data-smart-icon="ion-person c-success" class="hidden-lg-down col-sm-3 col-md-3 col-lg-4 col-xl-3 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p grid-stack-handle bgc-white-dark panel-header-sm">
                            <h2 class="pull-left">
                                Responsive Pin
                            </h2>
                            {{#embed "panel-icons" slide="1"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0">Class: <code>hidden-lg-down</code></p>
                            <p class="mb-0">Smart Icon: <i class="ion-person c-success"></i> <code>ion-person</code></p>
                            <p class="mb-0">Panel <strong>Active</strong> Width: <code>col-xl-3</code></p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section data-gs-height="80" data-gs-x="3" data-smart-icon="fa fa-comments c-info" class="hidden-md-down col-sm-3 col-md-6 col-lg-4 col-xl-3 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p grid-stack-handle bgc-white-dark panel-header-sm">
                            <h2 class="pull-left">
                                Responsive Pin
                            </h2>
                            {{#embed "panel-icons" slide="1"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0">Class: <code>hidden-md-down</code></p>
                            <p class="mb-0">Smart Icon: <i class="fa fa-comments c-info"></i> <code>fa fa-comments</code></p>
                            <p class="mb-0">Panel <strong>Active</strong> Width: <code>col-lg-4 col-xl-3</code></p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section data-gs-height="80" data-gs-x="3" data-smart-icon="fa fa-envelope c-warning" class="hidden-sm-down col-sm-12 col-md-6 col-lg-4 col-xl-3 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p grid-stack-handle bgc-white-dark panel-header-sm">
                            <h2 class="pull-left">
                                Responsive Pin
                            </h2>
                            {{#embed "panel-icons" slide="1"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0">Class: <code>hidden-sm-down</code></p>
                            <p class="mb-0">Smart Icon: <i class="fa fa-envelope c-warning"></i> <code>fa fa-envelope</code></p>
                            <p class="mb-0">Panel <strong>Active</strong> Width: <code>col-md-6 col-lg-4 col-xl-3</code></p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section data-gs-height="80" data-gs-x="3" data-smart-icon="fa fa-mobile-phone c-primary" class="hidden-xs-down col-sm-12 col-md-6 col-lg-4 col-xl-3 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p grid-stack-handle bgc-white-dark panel-header-sm">
                            <h2 class="pull-left">
                                Responsive Pin
                            </h2>
                            {{#embed "panel-icons" slide="1"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0">Class: <code>hidden-xs-down</code></p>
                            <p class="mb-0">Smart Icon: <i class="fa fa-mobile-phone c-primary"></i> <code>fa fa-mobile-phone</code></p>
                            <p class="mb-0">Panel <strong>Active</strong> Width: <code>col-sm-12 col-md-6 col-lg-4 col-xl-3</code></p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "foot" mode="append"}}
        <script>
            SystemJS.import('scripts/app');
        </script>
    {{/content}}
{{/extend}}
