{{#extend "layout-1" current='panel-static'}}
{{! append html code into the content block declared in the layout partial }}
    {{#content "content" mode="append"}}
        <div class="container-fluid content-wrap">
            <div class="row panel-grid">
                <section class="col-sm-12 col-md-12 col-lg-12 panel-wrap panel-grid-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark pb-0">
                        <div class="panel-header clearfix  bgc-white-darkest panel-header-lg">
                            <h2 class="pull-left">
                                Panel Colors
                            </h2>
                        </div>
                        <div class="panel-body panel-body-p py-3">
                            <span>Panels could have different Colors. Add <code>bgc-{colors}</code> classes to change the panel <code>header</code>, <code>content</code> or <code>footer</code> color</span>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 col-xl-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p bgc-white-dark panel-header-sm">
                            <h2 class="pull-left">
                                Panel With Colors
                            </h2>
                            {{#embed "panel-icons" slide="1"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 col-xl-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p bgc-white-darkest panel-header-sm">
                            <h2 class="pull-left">
                                Panel With Colors
                            </h2>
                            {{#embed "panel-icons" slide="1" class="bgc-white-darkest bgc-active-dark-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 col-xl-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p bgc-white-dark bbw-1 bc-gray-lighter panel-header-sm">
                            <h2 class="pull-left">
                                Panel With Colors
                            </h2>
                            {{#embed "panel-icons" slide="1"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 col-xl-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p bgc-warning panel-header-sm">
                            <h2 class="pull-left">
                                Panel With Colors
                            </h2>
                            {{#embed "panel-icons" slide="1" class="bgc-warning bgc-active-dark-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 col-xl-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p bgc-danger panel-header-sm">
                            <h2 class="pull-left">
                                Panel With Colors
                            </h2>
                            {{#embed "panel-icons" slide="1" class="bgc-danger bgc-active-light-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 col-xl-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p bgc-info panel-header-sm">
                            <h2 class="pull-left">
                                Panel With Colors
                            </h2>
                            {{#embed "panel-icons" slide="1" class="bgc-info bgc-active-light-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 col-xl-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-warning">
                        <div class="panel-header panel-header-p bgc-warning-dark panel-header-sm">
                            <h2 class="pull-left">
                                Panel With Colors
                            </h2>
                            {{#embed "panel-icons" slide="1" class="bgc-warning-dark bgc-active-light-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 col-xl-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-danger">
                        <div class="panel-header panel-header-p bgc-danger-dark panel-header-sm">
                            <h2 class="pull-left">
                                Panel With Colors
                            </h2>
                            {{#embed "panel-icons" slide="1" class="bgc-danger-dark bgc-active-light-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 col-xl-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-info">
                        <div class="panel-header panel-header-p bgc-info-dark panel-header-sm">
                            <h2 class="pull-left">
                                Panel With Colors
                            </h2>
                            {{#embed "panel-icons" slide="1" class="bgc-info-dark bgc-active-light-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 col-xl-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-primary pb-0">
                        <div class="panel-header panel-header-p bgc-primary-light panel-header-sm">
                            <h2 class="pull-left">
                                Panel With Colors
                            </h2>
                            {{#embed "panel-icons" slide="1" class="bgc-primary-light bgc-active-dark-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body">
                            <p class="panel-body-p mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                            <div class="mt-3 panel-body-p py-2 bgc-primary-dark">
                                <small>Panel Footer</small>
                            </div>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 col-xl-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel pb-0 bgc-success">
                        <div class="panel-header panel-header-p panel-header-sm bgc-success-light">
                            <h2 class="pull-left">
                                Panel With Colors
                            </h2>
                            {{#embed "panel-icons" slide="1" class="bgc-success-light bgc-active-light-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body">
                            <p class="panel-body-p mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                            <div class="mt-3 panel-body-p py-2 bgc-success-dark">
                                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, nulla!</small>
                            </div>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 col-xl-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel pb-0 bgc-warning">
                        <div class="panel-header clearfix bgc-warning-light panel-header-p panel-header-sm">
                            <h2 class="pull-left">
                                Panel With Colors
                            </h2>
                            {{#embed "panel-icons" slide="1" class="bgc-warning-light bgc-active-dark-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body">
                            <p class="panel-body-p mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                            <div class="mt-3 panel-body-p py-2 bgc-warning-dark">
                                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, nulla!</small>
                            </div>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-12 panel-wrap panel-grid-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark pb-0">
                        <div class="panel-header clearfix  bgc-white-darkest panel-header-lg">
                            <h2 class="pull-left">
                                HTML Elements Integration
                            </h2>
                        </div>
                        <div class="panel-body panel-body-p py-3">
                            <span>Simple and easy integration of standard elements in the header, content and footer</span>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="row panel-grid">
                        <section class="panel-wrap panel-grid-item col-xs-12 grid-stack-item">
                            <!--Start Panel-->
                            <div class="panel bgc-white-dark pb-0">
                                <div class="panel-header panel-header-p bgc-white-dark panel-header-sm">
                                    <h2 class="pull-left">
                                        With Drop-down
                                    </h2>
                                    <div class="dropdown pull-left">
                                        <a href="" class="panel-header-link" id="panelDropdownMenu1" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <span>Drop Down</span><i class="fa fa-angle-down icon-ml"></i>
                                        </a>
                                        <div class="dropdown-menu lh-5" aria-labelledby="panelDropdownMenu1">
                                            <div class="dropdown-menu-content">
                                                <a class="dropdown-item" href="">Action</a>
                                                <a class="dropdown-item" href="">Another action</a>
                                                <a class="dropdown-item" href="">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    {{#embed "panel-icons" slide="1"}}{{/embed}}
                                </div>
                                <div class="panel-body">
                                    <p class="mb-0 text-indent panel-body-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                        been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                                    <div class="panel-body-p mt-3 py-2 bgc-white-darker">
                                        <small>Lorem ipsum dolor sit amet,</small>
                                        <div class="dropdown ml-3">
                                            <a href="" class="panel-header-link" id="panelDropdownMenu2" data-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="false">
                                                <span>Drop Down</span><i class="fa fa-angle-down icon-ml"></i>
                                            </a>
                                            <div class="dropdown-menu lh-5" aria-labelledby="panelDropdownMenu2">
                                                <div class="dropdown-menu-content">
                                                    <a class="dropdown-item" href="">Action</a>
                                                    <a class="dropdown-item" href="">Another action</a>
                                                    <a class="dropdown-item" href="">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Panel-->
                        </section>
                        <section class="panel-wrap panel-grid-item col-xs-12 grid-stack-item">
                            <!--Start Panel-->
                            <div class="panel bgc-white-dark pb-0">
                                <div class="panel-header panel-header-p bgc-white-dark panel-header-sm">
                                    <h2 class="pull-left hidden-xs-down">
                                        With Select Button
                                    </h2>
                                    <div class="ui floating select-dropdown btn-labeled-icon left search simple-select btn btn-primary btn-sm">
                                        <i class="icon fa fa-fort-awesome"></i>
                                        <span class="text">Select State</span>
                                        <div class="menu">
                                            <div class="item" data-value="">State</div>
                                            <div class="item" data-value="AL">Alabama</div>
                                            <div class="item" data-value="AK">Alaska</div>
                                            <div class="item" data-value="AZ">Arizona</div>
                                            <div class="item" data-value="AR">Arkansas</div>
                                            <div class="item" data-value="CA">California</div>
                                            <div class="item" data-value="CO">Colorado</div>
                                            <div class="item" data-value="CT">Connecticut</div>
                                            <div class="item" data-value="DE">Delaware</div>
                                            <div class="item" data-value="DC">District Of Columbia</div>
                                            <div class="item" data-value="FL">Florida</div>
                                            <div class="item" data-value="GA">Georgia</div>
                                            <div class="item" data-value="HI">Hawaii</div>
                                            <div class="item" data-value="ID">Idaho</div>
                                            <div class="item" data-value="IL">Illinois</div>
                                            <div class="item" data-value="IN">Indiana</div>
                                            <div class="item" data-value="IA">Iowa</div>
                                            <div class="item" data-value="KS">Kansas</div>
                                            <div class="item" data-value="KY">Kentucky</div>
                                            <div class="item" data-value="LA">Louisiana</div>
                                            <div class="item" data-value="ME">Maine</div>
                                            <div class="item" data-value="MD">Maryland</div>
                                            <div class="item" data-value="MA">Massachusetts</div>
                                            <div class="item" data-value="MI">Michigan</div>
                                            <div class="item" data-value="MN">Minnesota</div>
                                            <div class="item" data-value="MS">Mississippi</div>
                                            <div class="item" data-value="MO">Missouri</div>
                                            <div class="item" data-value="MT">Montana</div>
                                            <div class="item" data-value="NE">Nebraska</div>
                                            <div class="item" data-value="NV">Nevada</div>
                                            <div class="item" data-value="NH">New Hampshire</div>
                                            <div class="item" data-value="NJ">New Jersey</div>
                                            <div class="item" data-value="NM">New Mexico</div>
                                            <div class="item" data-value="NY">New York</div>
                                            <div class="item" data-value="NC">North Carolina</div>
                                            <div class="item" data-value="ND">North Dakota</div>
                                            <div class="item" data-value="OH">Ohio</div>
                                            <div class="item" data-value="OK">Oklahoma</div>
                                            <div class="item" data-value="OR">Oregon</div>
                                            <div class="item" data-value="PA">Pennsylvania</div>
                                            <div class="item" data-value="RI">Rhode Island</div>
                                            <div class="item" data-value="SC">South Carolina</div>
                                            <div class="item" data-value="SD">South Dakota</div>
                                            <div class="item" data-value="TN">Tennessee</div>
                                            <div class="item" data-value="TX">Texas</div>
                                            <div class="item" data-value="UT">Utah</div>
                                            <div class="item" data-value="VT">Vermont</div>
                                            <div class="item" data-value="VA">Virginia</div>
                                            <div class="item" data-value="WA">Washington</div>
                                            <div class="item" data-value="WV">West Virginia</div>
                                            <div class="item" data-value="WI">Wisconsin</div>
                                            <div class="item" data-value="WY">Wyoming</div>
                                        </div>
                                    </div>

                                    {{#embed "panel-icons" slide="1"}}{{/embed}}
                                </div>
                                <div class="panel-body">
                                    <p class="mb-0 text-indent panel-body-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                        been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                                    <div class="panel-body-p mt-3 py-2 bgc-white-darker">
                                        <small>Lorem ipsum dolor sit amet,</small>
                                        <div class="ui floating select-dropdown btn-labeled-icon left search simple-select btn btn-default ml-4">
                                            <i class="icon fa fa-globe"></i>
                                            <span class="text">Select Language</span>
                                            <div class="menu">
                                                <div class="item">Arabic</div>
                                                <div class="item">Chinese</div>
                                                <div class="item">Danish</div>
                                                <div class="item">Dutch</div>
                                                <div class="item">English</div>
                                                <div class="item">French</div>
                                                <div class="item">German</div>
                                                <div class="item">Greek</div>
                                                <div class="item">Hungarian</div>
                                                <div class="item">Italian</div>
                                                <div class="item">Japanese</div>
                                                <div class="item">Korean</div>
                                                <div class="item">Lithuanian</div>
                                                <div class="item">Persian</div>
                                                <div class="item">Polish</div>
                                                <div class="item">Portuguese</div>
                                                <div class="item">Russian</div>
                                                <div class="item">Spanish</div>
                                                <div class="item">Swedish</div>
                                                <div class="item">Turkish</div>
                                                <div class="item">Vietnamese</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Panel-->
                        </section>
                        <section class="panel-wrap panel-grid-item col-xs-12 grid-stack-item">
                            <!--Start Panel-->
                            <div class="panel bgc-white-dark pb-0">
                                <div class="panel-header panel-header-p bgc-white-darkest panel-header-sm">
                                    <h2 class="pull-left hidden-xs-down">
                                        With Large Drop-Down
                                    </h2>
                                    <div class="ui custom-select-dropdown select-dropdown lh-6">
                                        <div class="text">Do something</div>
                                        <i class="select-dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item">New</div>
                                            <div class="item">
                                                <span class="description">ctrl + o</span>
                                                Open...
                                            </div>
                                            <div class="item">
                                                <span class="description">ctrl + s</span>
                                                Save as...
                                            </div>
                                            <div class="item">
                                                <span class="description">ctrl + r</span>
                                                Rename
                                            </div>
                                            <div class="item">Make a copy</div>
                                            <div class="item">
                                                <i class="fa fa-folder icon"></i>
                                                Move to folder
                                            </div>
                                            <div class="item">
                                                <i class="fa fa-trash icon"></i>
                                                Move to trash
                                            </div>
                                            <div class="divider"></div>
                                            <div class="item">Download As...</div>
                                            <div class="item">
                                                <i class="select-dropdown icon"></i>
                                                Publish To Web
                                                <div class="menu">
                                                    <div class="item">Google Docs</div>
                                                    <div class="item">Google Drive</div>
                                                    <div class="item">Dropbox</div>
                                                    <div class="item">Adobe Creative Cloud</div>
                                                    <div class="item">Private FTP</div>
                                                    <div class="item">Another Service...</div>
                                                </div>
                                            </div>
                                            <div class="item">E-mail Collaborators</div>
                                        </div>
                                    </div>
                                    {{#embed "panel-icons" slide="1" class="bgc-white-darkest bgc-active-dark-trans"}}{{/embed}}
                                </div>
                                <div class="panel-body">
                                    <p class="mb-0 text-indent panel-body-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                        been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                                    <div class="mt-3 panel-body-p py-2 bgc-white-darker">
                                        <div class="ui floating select-dropdown simple-select btn-labeled-icon left btn btn-default">
                                            <i class="fa fa-tags icon"></i>
                                            <span class="text">Filter Posts</span>
                                            <div class="menu">
                                                <div class="input-group input-right-icon search input">
                                                    <i class="input-icon fa fa-search icon fs-7"></i>
                                                    <input type="text" placeholder="Search tags...">
                                                </div>
                                                <div class="divider"></div>
                                                <div class="header">
                                                    <i class="tags icon"></i>
                                                    Tag Label
                                                </div>
                                                <div class="scrolling menu">
                                                    <div class="item">
                                                        <a href="" class="bgc-danger badge badge-empty"></a>
                                                        Important
                                                    </div>
                                                    <div class="item">
                                                        <a href="" class="bgc-success badge badge-empty"></a>
                                                        Announcement
                                                    </div>
                                                    <div class="item">
                                                        <a href="" class="bgc-body badge badge-empty"></a>
                                                        Cannot Fix
                                                    </div>
                                                    <div class="item">
                                                        <a href="" class="bgc-purple badge badge-empty"></a>
                                                        News
                                                    </div>
                                                    <div class="item">
                                                        <a href="" class="bgc-warning badge badge-empty"></a>
                                                        Enhancement
                                                    </div>
                                                    <div class="item">
                                                        <a href="" class="bgc-body-inverse badge badge-empty"></a>
                                                        Change Declined
                                                    </div>
                                                    <div class="item">
                                                        <a href="" class="bgc-orange badge badge-empty"></a>
                                                        Off Topic
                                                    </div>
                                                    <div class="item">
                                                        <a href="" class="bgc-pink badge badge-empty"></a>
                                                        Interesting
                                                    </div>
                                                    <div class="item">
                                                        <a href="" class="bgc-primary badge badge-empty"></a>
                                                        Discussion
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Panel-->
                        </section>
                        <section class="panel-wrap panel-grid-item col-xs-12 grid-stack-item">
                            <!--Start Panel-->
                            <div class="panel bgc-white-dark">
                                <div class="panel-header panel-header-p bgc-white-dark panel-header-sm">
                                    <h2 class="pull-left hidden-xs-down">
                                        With Input
                                    </h2>
                                    <div class="panel-input pull-left">
                                        <input class="form-control form-control-sm" type="text" placeholder="Search">
                                        <a href="" class="clear-style"><i class="fa fa-search"></i></a>
                                    </div>
                                    {{#embed "panel-icons" slide="1"}}{{/embed}}
                                </div>
                                <div class="panel-body panel-body-p">
                                    <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                        been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                                </div>
                            </div>
                            <!--End Panel-->
                        </section>
                        <section class="panel-wrap panel-grid-item col-xs-12 grid-stack-item">
                            <!--Start Panel-->
                            <div class="panel bgc-white-dark">
                                <div class="panel-header panel-header-p bgc-white-dark panel-header-sm">
                                    <h2 class="pull-left hidden-xs-down">
                                        With Select
                                    </h2>
                                    <div class="ui search selection simple-select select-dropdown">
                                        <input type="hidden" name="country">
                                        <i class="select-dropdown icon"></i>
                                        <div class="default text">Select Country</div>
                                        <div class="menu">
                                            <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
                                            <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
                                            <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
                                            <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
                                            <div class="item" data-value="as"><i class="as flag"></i>American Samoa</div>
                                            <div class="item" data-value="ad"><i class="ad flag"></i>Andorra</div>
                                            <div class="item" data-value="ao"><i class="ao flag"></i>Angola</div>
                                            <div class="item" data-value="ai"><i class="ai flag"></i>Anguilla</div>
                                            <div class="item" data-value="ag"><i class="ag flag"></i>Antigua</div>
                                            <div class="item" data-value="ar"><i class="ar flag"></i>Argentina</div>
                                            <div class="item" data-value="am"><i class="am flag"></i>Armenia</div>
                                            <div class="item" data-value="aw"><i class="aw flag"></i>Aruba</div>
                                            <div class="item" data-value="au"><i class="au flag"></i>Australia</div>
                                            <div class="item" data-value="at"><i class="at flag"></i>Austria</div>
                                            <div class="item" data-value="az"><i class="az flag"></i>Azerbaijan</div>
                                            <div class="item" data-value="bs"><i class="bs flag"></i>Bahamas</div>
                                            <div class="item" data-value="bh"><i class="bh flag"></i>Bahrain</div>
                                            <div class="item" data-value="bd"><i class="bd flag"></i>Bangladesh</div>
                                            <div class="item" data-value="bb"><i class="bb flag"></i>Barbados</div>
                                            <div class="item" data-value="by"><i class="by flag"></i>Belarus</div>
                                            <div class="item" data-value="be"><i class="be flag"></i>Belgium</div>
                                            <div class="item" data-value="bz"><i class="bz flag"></i>Belize</div>
                                            <div class="item" data-value="bj"><i class="bj flag"></i>Benin</div>
                                            <div class="item" data-value="bm"><i class="bm flag"></i>Bermuda</div>
                                            <div class="item" data-value="bt"><i class="bt flag"></i>Bhutan</div>
                                            <div class="item" data-value="bo"><i class="bo flag"></i>Bolivia</div>
                                            <div class="item" data-value="ba"><i class="ba flag"></i>Bosnia</div>
                                            <div class="item" data-value="bw"><i class="bw flag"></i>Botswana</div>
                                            <div class="item" data-value="bv"><i class="bv flag"></i>Bouvet Island</div>
                                            <div class="item" data-value="br"><i class="br flag"></i>Brazil</div>
                                            <div class="item" data-value="vg"><i class="vg flag"></i>British Virgin Islands</div>
                                            <div class="item" data-value="bn"><i class="bn flag"></i>Brunei</div>
                                            <div class="item" data-value="bg"><i class="bg flag"></i>Bulgaria</div>
                                            <div class="item" data-value="bf"><i class="bf flag"></i>Burkina Faso</div>
                                            <div class="item" data-value="mm"><i class="mm flag"></i>Burma</div>
                                            <div class="item" data-value="bi"><i class="bi flag"></i>Burundi</div>
                                            <div class="item" data-value="tc"><i class="tc flag"></i>Caicos Islands</div>
                                            <div class="item" data-value="kh"><i class="kh flag"></i>Cambodia</div>
                                            <div class="item" data-value="cm"><i class="cm flag"></i>Cameroon</div>
                                            <div class="item" data-value="ca"><i class="ca flag"></i>Canada</div>
                                            <div class="item" data-value="cv"><i class="cv flag"></i>Cape Verde</div>
                                            <div class="item" data-value="ky"><i class="ky flag"></i>Cayman Islands</div>
                                            <div class="item" data-value="cf"><i class="cf flag"></i>Central African Republic</div>
                                            <div class="item" data-value="td"><i class="td flag"></i>Chad</div>
                                            <div class="item" data-value="cl"><i class="cl flag"></i>Chile</div>
                                            <div class="item" data-value="cn"><i class="cn flag"></i>China</div>
                                            <div class="item" data-value="cx"><i class="cx flag"></i>Christmas Island</div>
                                            <div class="item" data-value="cc"><i class="cc flag"></i>Cocos Islands</div>
                                            <div class="item" data-value="co"><i class="co flag"></i>Colombia</div>
                                            <div class="item" data-value="km"><i class="km flag"></i>Comoros</div>
                                            <div class="item" data-value="cg"><i class="cg flag"></i>Congo Brazzaville</div>
                                            <div class="item" data-value="cd"><i class="cd flag"></i>Congo</div>
                                            <div class="item" data-value="ck"><i class="ck flag"></i>Cook Islands</div>
                                            <div class="item" data-value="cr"><i class="cr flag"></i>Costa Rica</div>
                                        </div>
                                    </div>

                                    {{#embed "panel-icons" slide="1"}}{{/embed}}
                                </div>
                                <div class="panel-body panel-body-p">
                                    <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                        been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                                </div>
                            </div>
                            <!--End Panel-->
                        </section>
                        <section class="panel-wrap panel-grid-item col-xs-12 grid-stack-item">
                            <!--Start Panel-->
                            <div class="panel bgc-white-dark">
                                <div class="panel-header panel-header-p bgc-white-darkest panel-header-sm">
                                    <h2 class="pull-left hidden-xs-down">
                                        With Small Button
                                    </h2>
                                    <a href="" class="btn btn-default btn-sm">Create</a>
                                    {{#embed "panel-icons" slide="1" class="bgc-white-darkest bgc-active-dark-trans"}}{{/embed}}
                                </div>
                                <div class="panel-body panel-body-p">
                                    <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                        been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                                </div>
                            </div>
                            <!--End Panel-->
                        </section>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="row panel-grid">
                        <section class="col-xs-12 panel-wrap panel-grid-item grid-stack-item">
                            <!--Start Panel-->
                            <div class="panel bgc-white-dark pb-0">
                                <div class="panel-header clearfix panel-header-sm bgc-white-darkest">
                                    <ul class="nav nav-tabs nav-semi-border" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link panel-header-link active" data-toggle="tab" href="#home1" role="tab"><i class="fa fa-home icon-mr"></i>Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link panel-header-link" data-toggle="tab" href="#profile1" role="tab"><i class="icon-user icon-mr"></i>Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link panel-header-link" data-toggle="tab" href="#messages1" role="tab"><i class="fa fa-comments-o icon-mr"></i>Messages</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link panel-header-link" data-toggle="tab" href="#settings1" role="tab"><i class="fa fa-gears icon-mr"></i>Settings</a>
                                        </li>
                                    </ul>
                                    {{#embed "panel-icons" slide="1" class="bgc-white-darkest bgc-active-dark-trans"}}{{/embed}}
                                </div>
                                <div class="panel-body panel-body-p pb-4">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home1" role="tabpanel">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                            content here', making it look like readable English.
                                        </div>
                                        <div class="tab-pane" id="profile1" role="tabpanel">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable.
                                        </div>
                                        <div class="tab-pane" id="messages1" role="tabpanel">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                            content here', making it look like readable English.
                                        </div>
                                        <div class="tab-pane" id="settings1" role="tabpanel">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable.
                                        </div>
                                    </div>
                                    <!--End Panel-->
                                </div>
                            </div>
                        </section>
                        <section class="col-xs-12 panel-wrap panel-grid-item grid-stack-item">
                            <!--Start Panel-->
                            <div class="panel bgc-white-dark">
                                <div class="panel-header clearfix bgc-white-dark panel-header-sm">
                                    <ul class="nav nav-tabs nav-semi-border" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link panel-header-link active" data-toggle="tab" href="#home2" role="tab">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link panel-header-link" data-toggle="tab" href="#profile2" role="tab">Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link panel-header-link" data-toggle="tab" href="#messages2" role="tab">Messages</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link panel-header-link" data-toggle="tab" href="#settings2" role="tab">Settings</a>
                                        </li>
                                    </ul>
                                    {{#embed "panel-icons" slide="1"}}{{/embed}}
                                </div>
                                <div class="panel-body panel-body-p">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home2" role="tabpanel">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                            content here', making it look like readable English.
                                        </div>
                                        <div class="tab-pane" id="profile2" role="tabpanel">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable.
                                        </div>
                                        <div class="tab-pane" id="messages2" role="tabpanel">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                            content here', making it look like readable English.
                                        </div>
                                        <div class="tab-pane" id="settings2" role="tabpanel">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Panel-->
                        </section>
                        <section class="col-xs-12 panel-wrap panel-grid-item grid-stack-item">
                            <!--Start Panel-->
                            <div class="panel bgc-white-dark">
                                <div class="panel-header clearfix bgc-warning panel-header-sm">
                                    <ul class="nav nav-pills bgc-active-dark-trans" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link bw-0 panel-header-link active" data-toggle="tab" href="#home3" role="tab">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link bw-0 panel-header-link" data-toggle="tab" href="#profile3" role="tab">Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link bw-0 panel-header-link" data-toggle="tab" href="#messages3" role="tab">Messages</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link bw-0 panel-header-link" data-toggle="tab" href="#settings3" role="tab">Settings</a>
                                        </li>
                                    </ul>
                                    {{#embed "panel-icons" slide="1" class="bgc-warning bgc-active-dark-trans"}}{{/embed}}
                                </div>
                                <div class="panel-body panel-body-p">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home3" role="tabpanel">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                            content here', making it look like readable English.
                                        </div>
                                        <div class="tab-pane" id="profile3" role="tabpanel">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable.
                                        </div>
                                        <div class="tab-pane" id="messages3" role="tabpanel">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                            content here', making it look like readable English.
                                        </div>
                                        <div class="tab-pane" id="settings3" role="tabpanel">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Panel-->
                        </section>
                        <section class="col-xs-12 panel-wrap panel-grid-item grid-stack-item">
                            <!--Start Panel-->
                            <div class="panel bgc-white-dark">
                                <div class="panel-header clearfix bgc-success panel-header-sm">
                                    <ul class="nav nav-pills bgc-active-light-trans" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link bw-0 panel-header-link active" data-toggle="tab" href="#home4" role="tab">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link bw-0 panel-header-link" data-toggle="tab" href="#profile4" role="tab">Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link bw-0 panel-header-link" data-toggle="tab" href="#messages4" role="tab">Messages</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link bw-0 panel-header-link" data-toggle="tab" href="#settings4" role="tab">Settings</a>
                                        </li>
                                    </ul>
                                    {{#embed "panel-icons" slide="1" class="bgc-success bgc-active-light-trans"}}{{/embed}}
                                </div>
                                <div class="panel-body panel-body-p">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home4" role="tabpanel">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                            content here', making it look like readable English.
                                        </div>
                                        <div class="tab-pane" id="profile4" role="tabpanel">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable.
                                        </div>
                                        <div class="tab-pane" id="messages4" role="tabpanel">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                            content here', making it look like readable English.
                                        </div>
                                        <div class="tab-pane" id="settings4" role="tabpanel">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Panel-->
                        </section>
                        <section class="col-xs-12 panel-wrap panel-grid-item grid-stack-item">
                            <!--Start Panel-->
                            <div class="panel bgc-white-dark pb-0">
                                <div class="panel-header clearfix bgc-white-darkest panel-header-sm">
                                    <h2 class="pull-left">
                                        Tab in Footer
                                    </h2>
                                    {{#embed "panel-icons" slide="1" class="bgc-white-darkest bgc-active-dark-trans"}}{{/embed}}
                                </div>
                                <div class="panel-body">
                                    <!-- Tab panes -->
                                    <div class="tab-content panel-body-p">
                                        <div class="tab-pane active" id="home8" role="tabpanel">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                            content here', making it look like readable English.
                                        </div>
                                        <div class="tab-pane" id="profile8" role="tabpanel">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable.
                                        </div>
                                        <div class="tab-pane" id="messages8" role="tabpanel">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                            content here', making it look like readable English.
                                        </div>
                                        <div class="tab-pane" id="settings8" role="tabpanel">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable.
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs nav-semi-border nav-inverse mt-3" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link panel-header-link active" data-toggle="tab" href="#home8" role="tab">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link panel-header-link" data-toggle="tab" href="#profile8" role="tab">Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link panel-header-link" data-toggle="tab" href="#messages8" role="tab">Messages<span class="badge badge-danger ml-2 badge-circle fs-7">+ 10</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link panel-header-link" data-toggle="tab" href="#settings8" role="tab">Settings</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--End Panel-->
                        </section>
                        <section class="col-xs-12 panel-wrap panel-grid-item grid-stack-item">
                            <!--Start Panel-->
                            <div class="panel bgc-white-dark pb-0">
                                <div class="panel-header clearfix bgc-white-darkest panel-header-sm">
                                    <h2 class="pull-left">
                                        Tab in Footer
                                    </h2>
                                    {{#embed "panel-icons" slide="1" class="bgc-white-darkest bgc-active-dark-trans"}}{{/embed}}
                                </div>
                                <div class="panel-body">
                                    <!-- Tab panes -->
                                    <div class="tab-content panel-body-p">
                                        <div class="tab-pane active" id="home9" role="tabpanel">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                            content here', making it look like readable English.
                                        </div>
                                        <div class="tab-pane" id="profile9" role="tabpanel">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable.
                                        </div>
                                        <div class="tab-pane" id="messages9" role="tabpanel">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                            content here', making it look like readable English.
                                        </div>
                                        <div class="tab-pane" id="settings9" role="tabpanel">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable.
                                        </div>
                                    </div>
                                    <ul class="nav nav-pills bw-1 mt-3 bgc-danger bgc-active-light-trans" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link c-white-dark bw-0 panel-header-link active" data-toggle="tab" href="#home9" role="tab">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link c-white-dark bw-0 panel-header-link" data-toggle="tab" href="#profile9" role="tab">Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link c-white-dark bw-0 panel-header-link" data-toggle="tab" href="#messages9" role="tab">Messages</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link c-white-dark bw-0 panel-header-link" data-toggle="tab" href="#settings9" role="tab">Settings</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--End Panel-->
                        </section>
                    </div>
                </div>
            </div>
            <div class="row panel-grid">
                <section class="col-sm-12 col-md-12 col-lg-12 panel-wrap panel-grid-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark pb-0">
                        <div class="panel-header clearfix  bgc-white-darkest panel-header-lg">
                            <h2 class="pull-left">
                                Panel Control Icons
                            </h2>
                        </div>
                        <div class="panel-body panel-body-p py-3">
                            <span>Panels icons could be shown with animation</span>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
            </div>
            <div class="row panel-grid">
                <section class="col-sm-12 col-md-12 col-lg-6 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p bgc-white-darkest panel-header-sm">
                            <h2 class="pull-left">
                                Show on Hover
                            </h2>
                            {{#embed "panel-icons" hover="1" class="bgc-white-darkest bgc-active-dark-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p bgc-primary panel-header-sm">
                            <h2 class="pull-left">
                                Show on Hover
                            </h2>
                            {{#embed "panel-icons" hover="1" class="bgc-primary bgc-active-dark-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p bgc-white-darkest panel-header-sm">
                            <h2 class="pull-left">
                                Slide Effect
                            </h2>
                            {{#embed "panel-icons" slide="1" class="bgc-white-darkest bgc-active-dark-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-6 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p bgc-white-darkest panel-header-sm">
                            <h2 class="pull-left">
                                Slide And Hover Effect
                            </h2>
                            {{#embed "panel-icons" hover="1" slide="1" class="bgc-white-darkest bgc-active-dark-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
            </div>
            <div class="row panel-grid">
                <section class="col-sm-12 col-md-12 col-lg-12 panel-wrap panel-grid-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark pb-0">
                        <div class="panel-header clearfix  bgc-white-darkest panel-header-lg">
                            <h2 class="pull-left">
                                Panel Header Sizes
                            </h2>
                        </div>
                        <div class="panel-body panel-body-p py-3">
                            <span>Panels header sizes might be controlled width <code>.panel-header-sm, .panel-header-md, .panel-header-lg</code> classes</span>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
            </div>
            <div class="row panel-grid">
                <section class="col-sm-12 col-md-12 col-lg-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header clearfix bbw-1 bc-gray-lighter panel-header-p bgc-white-dark panel-header-sm">
                            <h2 class="pull-left">
                                Small Header
                            </h2>
                            {{#embed "panel-icons" slide="1"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header clearfix bbw-1 bc-gray-lighter panel-header-p bgc-white-dark panel-header-md">
                            <h2 class="pull-left">
                                Middle Header
                            </h2>
                            {{#embed "panel-icons" slide="1"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header clearfix bbw-1 bc-gray-lighter panel-header-p bgc-white-dark panel-header-lg">
                            <h2 class="pull-left">
                                Large header
                            </h2>
                            {{#embed "panel-icons" slide="1"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header clearfix bgc-white-darkest panel-header-sm">
                            <ul class="nav nav-tabs nav-semi-border" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link panel-header-link active" data-toggle="tab" href="#home5" role="tab">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link panel-header-link" data-toggle="tab" href="#profile5" role="tab">Profile</a>
                                </li>
                            </ul>
                            {{#embed "panel-icons" slide="1" class="bgc-white-darkest bgc-active-dark-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="home5" role="tabpanel">
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                    content here', making it look like readable English.
                                </div>
                                <div class="tab-pane" id="profile5" role="tabpanel">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                    words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header clearfix bgc-white-darkest panel-header-md">
                            <ul class="nav nav-tabs nav-semi-border" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link panel-header-link active" data-toggle="tab" href="#home6" role="tab">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link panel-header-link" data-toggle="tab" href="#profile6" role="tab">Profile</a>
                                </li>
                            </ul>
                            {{#embed "panel-icons" slide="1" class="bgc-white-darkest bgc-active-dark-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="home6" role="tabpanel">
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                    content here', making it look like readable English.
                                </div>
                                <div class="tab-pane" id="profile6" role="tabpanel">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                                    words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header clearfix bgc-white-darkest panel-header-lg">
                            <ul class="nav nav-tabs nav-semi-border" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link panel-header-link active" data-toggle="tab" href="#home7" role="tab">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link panel-header-link" data-toggle="tab" href="#profile7" role="tab">Profile</a>
                                </li>
                            </ul>
                            {{#embed "panel-icons" slide="1" class="bgc-white-darkest bgc-active-dark-trans"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                    content here', making it look like readable English.
                                </div>
                                <div class="tab-pane" id="profile7" role="tabpanel">
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                    content here', making it look like readable English.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p bbw-1 bc-gray-lighter bgc-white-dark panel-header-sm">
                            <h2 class="pull-left">
                                Widget
                            </h2>
                            <div class="panel-input pull-left">
                                <input class="form-control form-control-sm" type="text" placeholder="Search">
                                <a href="" class="clear-style"><i class="fa fa-search"></i></a>
                            </div>
                            {{#embed "panel-icons" slide="1"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p bbw-1 bc-gray-lighter bgc-white-dark panel-header-md">
                            <h2 class="pull-left hidden-xs-down">
                                Widget
                            </h2>
                            <div class="panel-input pull-left">
                                <input class="form-control" type="text" placeholder="Search">
                                <a href="" class="clear-style"><i class="fa fa-search"></i></a>
                            </div>
                            {{#embed "panel-icons" slide="1"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section class="col-sm-12 col-md-12 col-lg-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header panel-header-p bbw-1 bc-gray-lighter bgc-white-dark panel-header-lg">
                            <h2 class="pull-left hidden-xs-down">
                                Widget
                            </h2>
                            <div class="panel-input pull-left">
                                <input class="form-control form-control-lg" type="text" placeholder="Search">
                                <a href="" class="clear-style"><i class="fa fa-search"></i></a>
                            </div>
                            {{#embed "panel-icons" slide="1"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p">
                            <p class="mb-0 text-indent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s and popularised in the 1960s.</p>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "foot" mode="append"}}
        <script>
            SystemJS.import('scripts/app');
        </script>
    {{/content}}
{{/extend}}
