{{#extend "layout-1" current="project"}}
{{! append html code into the content block declared in the layout partial }}

    {{#content "content" mode="append"}}
        <div class="container-fluid content-wrap fs-6-plus">
            <div class="row panel-grid grid-stack">
                <section data-item-id="1" data-gs-height="100" data-smart-icon="fa fa-tasks" class="hidden-md-down col-sm-12 col-md-6 col-lg-4 col-xl-4 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header clearfix grid-stack-handle panel-header-p bgc-white-dark panel-header-sm">
                            <div class="panel-input pull-left">
                                <input class="form-control form-control-sm search-control" data-list=".project-list" type="text" placeholder="Search">
                                <a href="" class="clear-style"><i class="fa fa-search"></i></a>
                            </div>
                            <button class="ml-3 btn btn-primary btn-sm">New</button>
                            {{#embed 'panel-icons' slide='1' class="bgc-white-dark"}}{{/embed}}
                        </div>
                        <div class="panel-body sortable-containment">
                            <div class="pt-1"></div>
                            <div class="list project-list project-list-2 sortable-list">
                                <div class="item sortable-list-item py-2">
                                    <div class="sortable-list-handle">
                                        <div class="rounded-circle image">
                                            <i class="devicons devicons-photoshop"></i>
                                        </div>
                                        <div class="content">
                                            <span class="header c-gray-dark lh-5">Portfolio Design</span>
                                            <span class="fs-7 c-info">10 Open Tasks</span>
                                        </div>
                                        <div class="controls">
                                            <span class="priority bg-danger mr-1"></span>
                                            <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                <i class="icon-options-vertical"></i>
                                                <div class="menu">
                                                    <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                    <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                    <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                    <div class="divider"></div>
                                                    <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item sortable-list-item py-2">
                                    <div class="sortable-list-handle">
                                        <div class="rounded-circle image">
                                            <i class="fa fa-wordpress"></i>
                                        </div>
                                        <div class="content">
                                            <span class="header c-gray-dark font-weight-bold lh-5">Blanditiis praesentium</span>
                                            <span class="fs-7 c-info">10 Open Tasks</span>
                                        </div>
                                        <div class="controls">
                                            <span class="priority bg-danger mr-1"></span>
                                            <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                <i class="icon-options-vertical"></i>
                                                <div class="menu">
                                                    <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                    <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                    <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                    <div class="divider"></div>
                                                    <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item sortable-list-item py-2">
                                    <div class="sortable-list-handle">
                                        <div class="rounded-circle image">
                                            <i class="fa fa-android"></i>
                                        </div>
                                        <div class="content">
                                            <span class="header c-gray-dark lh-5">Portfolio Design</span>
                                            <span class="fs-7 c-info">10 Open Tasks</span>
                                        </div>
                                        <div class="controls">
                                            <span class="priority bg-danger mr-1"></span>
                                            <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                <i class="icon-options-vertical"></i>
                                                <div class="menu">
                                                    <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                    <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                    <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                    <div class="divider"></div>
                                                    <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item sortable-list-item py-2">
                                    <div class="sortable-list-handle">
                                        <div class="rounded-circle image">
                                            <i class="fa fa-drupal"></i>
                                        </div>
                                        <div class="content">
                                            <span class="header c-gray-dark lh-5">Nam libero tempore</span>
                                            <span class="fs-7 c-info">10 Open Tasks</span>
                                        </div>
                                        <div class="controls">
                                            <span class="priority bg-primary mr-1"></span>
                                            <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                <i class="icon-options-vertical"></i>
                                                <div class="menu">
                                                    <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                    <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                    <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                    <div class="divider"></div>
                                                    <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item sortable-list-item py-2">
                                    <div class="sortable-list-handle">
                                        <div class="rounded-circle image">
                                            <i class="devicons devicons-scala"></i>
                                        </div>
                                        <div class="content">
                                            <span class="header c-gray-dark lh-5">Portfolio Design</span>
                                            <span class="fs-7 c-info">10 Open Tasks</span>
                                        </div>
                                        <div class="controls">
                                            <span class="priority bg-primary mr-1"></span>
                                            <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                <i class="icon-options-vertical"></i>
                                                <div class="menu">
                                                    <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                    <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                    <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                    <div class="divider"></div>
                                                    <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item sortable-list-item py-2">
                                    <div class="sortable-list-handle">
                                        <div class="rounded-circle image">
                                            <i class="fa fa-joomla"></i>
                                        </div>
                                        <div class="content">
                                            <span class="header c-gray-dark lh-5">Tenetur a sapiente delectus</span>
                                            <span class="fs-7 c-info">10 Open Tasks</span>
                                        </div>
                                        <div class="controls">
                                            <span class="priority bg-primary mr-1"></span>
                                            <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                <i class="icon-options-vertical"></i>
                                                <div class="menu">
                                                    <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                    <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                    <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                    <div class="divider"></div>
                                                    <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item sortable-list-item py-2">
                                    <div class="sortable-list-handle">
                                        <div class="rounded-circle image">
                                            <i class="devicons devicons-angular"></i>
                                        </div>
                                        <div class="content">
                                            <span class="header c-gray-dark lh-5">Portfolio Design</span>
                                            <span class="fs-7 c-info">10 Open Tasks</span>
                                        </div>
                                        <div class="controls">
                                            <span class="priority bg-primary mr-1"></span>
                                            <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                <i class="icon-options-vertical"></i>
                                                <div class="menu">
                                                    <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                    <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                    <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                    <div class="divider"></div>
                                                    <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item sortable-list-item py-2">
                                    <div class="sortable-list-handle">
                                        <div class="rounded-circle image">
                                            <i class="devicons devicons-snap_svg"></i>
                                        </div>
                                        <div class="content">
                                            <span class="header c-gray-dark lh-5">Asperiores repellat</span>
                                            <span class="fs-7 c-info">10 Open Tasks</span>
                                        </div>
                                        <div class="controls">
                                            <span class="priority bgc-gray mr-1"></span>
                                            <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                <i class="icon-options-vertical"></i>
                                                <div class="menu">
                                                    <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                    <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                    <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                    <div class="divider"></div>
                                                    <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item sortable-list-item py-2">
                                    <div class="sortable-list-handle">
                                        <div class="rounded-circle image">
                                            <i class="devicons devicons-nodejs_small"></i>
                                        </div>
                                        <div class="content">
                                            <span class="header c-gray-dark lh-5">Portfolio Design</span>
                                            <span class="fs-7 c-info">10 Open Tasks</span>
                                        </div>
                                        <div class="controls">
                                            <span class="priority bgc-gray mr-1"></span>
                                            <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                <i class="icon-options-vertical"></i>
                                                <div class="menu">
                                                    <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                    <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                    <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                    <div class="divider"></div>
                                                    <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item sortable-list-item py-2">
                                    <div class="sortable-list-handle">
                                        <div class="rounded-circle image">
                                            <i class="devicons devicons-laravel"></i>
                                        </div>
                                        <div class="content">
                                            <span class="header c-gray-dark lh-5">Consectetur adipisicing elit.</span>
                                            <span class="fs-7 c-info">10 Open Tasks</span>
                                        </div>
                                        <div class="controls">
                                            <span class="priority bgc-gray mr-1"></span>
                                            <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                <i class="icon-options-vertical"></i>
                                                <div class="menu">
                                                    <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                    <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                    <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                    <div class="divider"></div>
                                                    <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item sortable-list-item py-2">
                                    <div class="sortable-list-handle">
                                        <div class="rounded-circle image">
                                            <i class="devicons devicons-react"></i>
                                        </div>
                                        <div class="content">
                                            <span class="header c-gray-dark lh-5">Cupiditate dolores quos rerum sed.</span>
                                            <span class="fs-7 c-info">10 Open Tasks</span>
                                        </div>
                                        <div class="controls">
                                            <span class="priority bgc-gray mr-1"></span>
                                            <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                <i class="icon-options-vertical"></i>
                                                <div class="menu">
                                                    <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                    <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                    <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                    <div class="divider"></div>
                                                    <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item sortable-list-item py-2">
                                    <div class="sortable-list-handle">
                                        <div class="rounded-circle image">
                                            <i class="devicons devicons-clojure"></i>
                                        </div>
                                        <div class="content">
                                            <span class="header c-gray-dark lh-5">Adipisci asperiores culpa doloribus esse.</span>
                                            <span class="fs-7 c-info">10 Open Tasks</span>
                                        </div>
                                        <div class="controls">
                                            <span class="priority bgc-gray mr-1"></span>
                                            <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                <i class="icon-options-vertical"></i>
                                                <div class="menu">
                                                    <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                    <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                    <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                    <div class="divider"></div>
                                                    <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item sortable-list-item py-2">
                                    <div class="sortable-list-handle">
                                        <div class="rounded-circle image">
                                            <i class="devicons devicons-java"></i>
                                        </div>
                                        <div class="content">
                                            <span class="header c-gray-dark lh-5">Fugit, reiciendis voluptas accusantium.</span>
                                            <span class="fs-7 c-info">10 Open Tasks</span>
                                        </div>
                                        <div class="controls">
                                            <span class="priority bgc-gray mr-1"></span>
                                            <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                <i class="icon-options-vertical"></i>
                                                <div class="menu">
                                                    <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                    <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                    <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                    <div class="divider"></div>
                                                    <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-1"></div>
                            </div>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section data-item-id="2" data-gs-min-height="17" data-gs-height="17" class="col-sm-12 col-md-12 col-lg-8 col-xl-8 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark fs-6 pb-3">
                        <div class="panel-header panel-header-p grid-stack-handle bgc-white-dark panel-header-sm">
                            <h2 class="pull-left">
                                Blanditiis Praesentium
                            </h2>
                            {{#embed 'panel-icons' slide='1' class="bgc-white-dark"}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p pt-1 panel-no-scroll">
                            <div class="project-header text-center text-sm-left">
                                <div class="row">
                                    <div class="col-sm-6 mt-1">
                                        <a href="" class="c-gray-dark">
                                            <span class="pr-1">Start:</span>
                                            <span class="project-date"><i class="fa fa-calendar icon-mr-ch"></i>10 Sep - <span>02:00 PM</span></span>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 mt-1">
                                        <a href="" class="c-gray-dark">
                                            <span class="pr-1">Finish:</span>
                                            <span class="project-date"><i class="fa fa-calendar-check-o icon-mr-ch"></i>12 Sep - <span>02:00 PM</span></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-6 mt-1">
                                        <div class="ui select-dropdown simple-select lh-6">
                                            <input type="hidden" name="filters" value="important">
                                            <span class="pr-1">Priority:</span>
                                            <span class="text">Filter</span>
                                            <i class="select-dropdown icon"></i>
                                            <div class="menu">
                                                <div class="input-group input-right-icon search input">
                                                    <i class="input-icon fa fa-search icon fs-7"></i>
                                                    <input type="text" placeholder="Search tags...">
                                                </div>
                                                <div class="scrolling menu">
                                                    <div class="item" data-value="important">
                                                        <a href="" class="bgc-danger badge badge-empty"></a>
                                                        Important
                                                    </div>
                                                    <div class="item" data-value="announcement">
                                                        <a href="" class="bgc-success badge badge-empty"></a>
                                                        Announcement
                                                    </div>
                                                    <div class="item" data-value="cannotfix">
                                                        <a href="" class="bgc-body badge badge-empty"></a>
                                                        Cannot Fix
                                                    </div>
                                                    <div class="item" data-value="enhancement">
                                                        <a href="" class="bgc-warning badge badge-empty"></a>
                                                        Enhancement
                                                    </div>
                                                    <div class="item" data-value="interesting">
                                                        <a href="" class="bgc-pink badge badge-empty"></a>
                                                        Interesting
                                                    </div>
                                                    <div class="item" data-value="discussion">
                                                        <a href="" class="bgc-primary badge badge-empty"></a>
                                                        Discussion
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mt-1">
                                        <div class="ui select-dropdown simple-select lh-6">
                                            <input type="hidden" name="filters" value="important">
                                            <span class="pr-1">Status:</span>
                                            <span class="text">Filter</span>
                                            <i class="select-dropdown icon"></i>
                                            <div class="menu">
                                                <div class="input-group input-right-icon search input">
                                                    <i class="input-icon fa fa-search icon fs-7"></i>
                                                    <input type="text" placeholder="Search tags...">
                                                </div>
                                                <div class="scrolling menu">
                                                    <div class="item" data-value="important">
                                                        <a href="" class="badge badge-success">In Progress</a>
                                                    </div>
                                                    <div class="item" data-value="announcement">
                                                        <a href="" class="badge badge-warning">Differed</a>
                                                    </div>
                                                    <div class="item" data-value="cannotfix">
                                                        <a href="" class="badge badge-danger">Cannot Fix</a>
                                                    </div>
                                                    <div class="item" data-value="enhancement">
                                                        <a href="" class="badge badge-primary">Enhancement</a>
                                                    </div>
                                                    <div class="item" data-value="interesting">
                                                        <a href="" class="badge badge-info">Interesting</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section data-item-id="3" data-gs-height="100" data-smart-icon="ion-android-person" class="hidden-xl-down col-sm-12 col-md-6 col-lg-7 col-xl-3 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header grid-stack-handle panel-header-p clearfix bgc-white-dark panel-header-sm">
                            <div class="panel-input pull-left">
                                <input class="form-control form-control-sm search-control" data-list=".team-members-list" type="text" placeholder="Search">
                                <a href="" class="clear-style"><i class="fa fa-search"></i></a>
                            </div>
                            {{#embed 'panel-icons' slide='1' class="bgc-white-dark"}}{{/embed}}
                        </div>
                        <div class="panel-body">
                            <div class="team-members panel-body-p py-0 mb-4">
                                <h6 class="mt-2 mb-1">Owners</h6>
                                <div class="list m-0 team-members-list bbw-1 bc-gray-lighter pb-1">
                                    <div class="item py-2 d-hover-parent">
                                        <img class="rounded-circle bgc-white-darkest image" alt="" src="assets/img/picture/pic6.jpg">
                                        <div class="content pl-2">
                                            <a class="header">Jamie Jones</a>
                                            <div class="description"><span class="badge badge-success badge-circle fs-6-plus">2 tasks</span></div>
                                        </div>
                                        <div class="controls">
                                            <a href="" class="d-hover btn btn-sm btn-default">Remove</a>
                                        </div>
                                    </div>
                                    <div class="item py-2 d-hover-parent">
                                        <img class="rounded-circle bgc-white-darkest image" alt="" src="assets/img/picture/pic5.jpg">
                                        <div class="content pl-2">
                                            <a class="header">Jamie Jones</a>
                                            <div class="description"><span class="badge badge-success badge-circle fs-6-plus">3 tasks</span></div>
                                        </div>
                                        <div class="controls">
                                            <a href="" class="d-hover btn btn-sm btn-default">Remove</a>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="mt-3 mb-1">Assignee</h6>
                                <div class="list team-members-list bbw-1 bc-gray-lighter pb-1">
                                    <div class="item py-2 d-hover-parent">
                                        <img class="rounded-circle bgc-white-darkest image" alt="" src="assets/img/picture/pic4.jpg">
                                        <div class="content pl-2">
                                            <a class="header"><span class="c-gray-dark">Taylor Fletcher</span></a>
                                            <div class="description"><span class="badge badge-success badge-circle fs-6-plus">5 tasks</span></div>
                                        </div>
                                        <div class="controls">
                                            <a href="" class="d-hover btn btn-sm btn-default">Remove</a>
                                        </div>
                                    </div>
                                    <div class="item py-2 d-hover-parent">
                                        <img class="rounded-circle bgc-white-darkest image" alt="" src="assets/img/picture/pic3.jpg">
                                        <div class="content pl-2">
                                            <a class="header">Rhys Brooks</a>
                                            <div class="description">
                                                <span class="badge badge-success badge-circle fs-6-plus">4 tasks</span>
                                                <span class="badge ml-1 badge-warning badge-circle fs-6-plus">2 tasks</span>
                                            </div>
                                        </div>
                                        <div class="controls">
                                            <a href="" class="d-hover btn btn-sm btn-default">Remove</a>
                                        </div>
                                    </div>
                                    <div class="item py-2 d-hover-parent">
                                        <img class="rounded-circle bgc-white-darkest image" alt="" src="assets/img/picture/pic2.jpg">
                                        <div class="content pl-2">
                                            <a class="header">Jamie Jones</a>
                                            <div class="description"><span class="badge badge-success badge-circle fs-6-plus">2 tasks</span></div>
                                        </div>
                                        <div class="controls">
                                            <a href="" class="d-hover btn btn-sm btn-default">Remove</a>
                                        </div>
                                    </div>
                                    <div class="item py-2 d-hover-parent">
                                        <img class="rounded-circle bgc-white-darkest image" alt="" src="assets/img/picture/pic1.jpg">
                                        <div class="content pl-2">
                                            <a class="header">Brock Giles</a>
                                            <div class="description">
                                                <span class="badge badge-success badge-circle fs-6-plus">3 tasks</span>
                                                <span class="badge ml-1 badge-warning badge-circle fs-6-plus">2 tasks</span>
                                            </div>
                                        </div>
                                        <div class="controls">
                                            <a href="" class="d-hover btn btn-sm btn-default">Remove</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="list mt-2 team-members-list">
                                    <div class="item py-2 d-hover-parent">
                                        <img class="rounded-circle bgc-white-darkest image" alt="" src="assets/img/picture/pic6.jpg">
                                        <div class="content pl-2">
                                            <a class="header">Dariel Wallace</a>
                                            <div class="description">
                                                <span class="badge badge-success badge-circle fs-6-plus">4 tasks</span>
                                                <span class="badge ml-1 badge-danger badge-circle fs-6-plus">1 tasks</span>
                                            </div>
                                        </div>
                                        <div class="controls">
                                            <a href="" class="d-hover btn btn-sm btn-default">Add</a>
                                        </div>
                                    </div>
                                    <div class="item py-2 d-hover-parent">
                                        <img class="rounded-circle bgc-white-darkest image" alt="" src="assets/img/picture/pic5.jpg">
                                        <div class="content pl-2">
                                            <a class="header">Jared Allison</a>
                                            <div class="description"><span class="badge badge-success badge-circle fs-6-plus">3 tasks</span></div>
                                        </div>
                                        <div class="controls">
                                            <a href="" class="d-hover btn btn-sm btn-default">Add</a>
                                        </div>
                                    </div>
                                    <div class="item py-2 d-hover-parent">
                                        <img class="rounded-circle bgc-white-darkest image" alt="" src="assets/img/picture/pic4.jpg">
                                        <div class="content pl-2">
                                            <a class="header">Jamie Jones</a>
                                            <div class="description"><span class="badge badge-success badge-circle fs-6-plus">1 tasks</span></div>
                                        </div>
                                        <div class="controls">
                                            <a href="" class="d-hover btn btn-sm btn-default">Add</a>
                                        </div>
                                    </div>
                                    <div class="item p-0 d-hover-parent">
                                        <img class="rounded-circle bgc-white-darkest image" alt="" src="assets/img/picture/pic3.jpg">
                                        <div class="content pl-2">
                                            <a class="header">Hunter Atkins</a>
                                            <div class="description"><span class="badge badge-success badge-circle fs-6-plus">4 tasks</span></div>
                                        </div>
                                        <div class="controls">
                                            <a href="" class="d-hover btn btn-sm btn-default">Add</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
                <section data-item-id="4" data-gs-height="83" class="col-sm-12 col-md-12 col-lg-8 col-xl-8 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel project-overview bgc-white-dark">
                        <div class="panel-header grid-stack-handle bgc-white-dark panel-header-sm">
                            <ul class="nav nav-tabs nav-semi-border" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link panel-header-link active" data-toggle="tab" href="#project-description" role="tab">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link panel-header-link" data-toggle="tab" href="#project-timing" role="tab">Timing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link panel-header-link" data-toggle="tab" href="#project-tasks" role="tab">Tasks</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link panel-header-link" data-toggle="tab" href="#project-requests" role="tab">Requests</a>
                                </li>
                            </ul>
                            {{#embed 'panel-icons' slide='1' class="bgc-white-dark"}}{{/embed}}
                        </div>
                        <div class="panel-body">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active panel-body-p" id="project-description" role="tabpanel">
                                    <div class="content">
                                        <p class="mb-3 text-indent">
                                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
                                            laborum et dolorum fuga. Et harum quidem rerum facilis est etexpedita distinctio.
                                        </p>
                                        <p class="mb-3 text-indent">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                                            minus id quod maxime placeat facere possimus.
                                        </p>
                                    </div>
                                    <h6 class="mt-5">Attached Files</h6>
                                    <div class="project-files">
                                        <div class="file file-lg mr-3 mt-3">
                                            <div class="image bgc-white-darkest">
                                                <span class="file-control"><i class="icon-eye"></i><i class="icon-share"></i></span>
                                                <i class="fa fa-file-pdf-o"></i>
                                            </div>
                                            <div class="name">
                                                <span>Ipsum.pdf</span>
                                            </div>
                                        </div>
                                        <div class="file file-lg mr-3 mt-3">
                                            <div class="image bgc-white-darkest">
                                                <span class="file-control"><i class="icon-eye"></i><i class="icon-share"></i></span>
                                                <i class="fa fa-file-word-o"></i>
                                            </div>
                                            <div class="name">
                                                <span>Ip Ipsum.word</span>
                                            </div>
                                        </div>
                                        <div class="file file-lg mr-3 mt-3">
                                            <div class="image bgc-white-darkest">
                                                <span class="file-control"><i class="icon-eye"></i><i class="icon-share"></i></span>
                                                <i class="fa fa-file-text-o"></i>
                                            </div>
                                            <div class="name">
                                                <span>Ip Ipsum.txt</span>
                                            </div>
                                        </div>
                                        <div class="file file-lg mr-3 mt-3">
                                            <div class="image bgc-white-darkest">
                                                <span class="file-control"><i class="icon-eye"></i><i class="icon-share"></i></span>
                                                <img src="assets/img/file/img1.jpg" alt="" height="90">
                                            </div>
                                            <div class="name">
                                                <span>Ipsum.png</span>
                                            </div>
                                        </div>
                                        <div class="file file-lg mt-3">
                                            <div class="image bgc-white-darkest">
                                                <span class="file-control"><i class="icon-eye"></i><i class="icon-share"></i></span>
                                                <i class="fa fa-file-zip-o"></i>
                                            </div>
                                            <div class="name">
                                                <span>Ip Ipsum.zip</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="mt-5 mb-3">Activity</h6>
                                    <div class="time-line">
                                        <div class="tm-line-item">
                                            <div class="tm-icon bgc-warning"><img class="br-circle" src="assets/img/picture/pic3.jpg" alt=""></div>
                                            <div class="content">
                                                <div class="chat-room">
                                                    <div class="chat-reply clearfix">
                                                        <div class="textarea-group">
                                                            <div class="form-control chat-reply-area"></div>
                                                            <div class="chat-textarea-addon">
                                                                <a href="" class="pull-right btn-icon rounded-circle btn-info"><i class="fa fa-paper-plane"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="time-line threaded mt-3">
                                        <div class="tm-line-item">
                                            <div class="tm-icon bgc-warning"><img class="br-circle" src="assets/img/picture/pic3.jpg" alt=""></div>
                                            <div class="content">
                                                <div class="metadata">
                                                    <span class="date">Today</span>
                                                    <span class="hour">10:30 PM</span>
                                                </div>
                                                <div class="text">
                                                    <p>Accusamus beatae dignissimos fuga iure numquam!</p>
                                                    <div class="aside-files">
                                                        <div class="file file-sm mb-2">
                                                            <div class="image bgc-white-darkest">
                                                                <i class="fa fa-file-pdf-o"></i>
                                                            </div>
                                                            <div class="name">
                                                                <span class="d-block c-gray-dark">Ipsum.png</span>
                                                                <span>20/9KB Uploaded from my phone</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-room">
                                                    <div class="chat-reply clearfix">
                                                        <div class="textarea-group">
                                                            <div class="form-control chat-reply-area"></div>
                                                            <div class="chat-textarea-addon">
                                                                <a href="" class="pull-right btn-icon rounded-circle btn-info"><i class="fa fa-paper-plane"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tm-line-item">
                                            <div class="tm-icon-empty bgc-primary"></div>
                                            <div class="content">
                                                <div class="metadata">
                                                    <span class="hour">13:20 PM</span>
                                                </div>
                                                <p class="text">
                                                    Consectetur adipisicing elit. Autem doloremque ex ipsum nobis non, nulla..
                                                </p>
                                            </div>
                                        </div>
                                        <div class="tm-line-item">
                                            <div class="tm-icon c-primary"><i class="fa fa-envelope"></i></div>
                                            <div class="content">
                                                <div class="metadata">
                                                    <span class="date">Today</span>
                                                    <span class="hour">10:30 PM</span>
                                                </div>
                                                <div class="text">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="file file-sm mb-2">
                                                        <div class="image bgc-white-darkest">
                                                            <i class="fa fa-file-pdf-o"></i>
                                                        </div>
                                                        <div class="name">
                                                            <span class="d-block c-gray-dark">Ipsum.pdf</span>
                                                            <span>20/9KB Uploaded from a phone</span>
                                                        </div>
                                                    </div>
                                                    <div class="file file-sm">
                                                        <div class="image bgc-white-darkest">
                                                            <i class="fa fa-file-word-o"></i>
                                                        </div>
                                                        <div class="name">
                                                            <span class="d-block c-gray-dark">Ip Ipsum.word</span>
                                                            <span>Lorem ipsum dolor sit amet.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tm-line-item">
                                            <div class="tm-icon c-danger"><i class="fa fa-exclamation-circle"></i></div>
                                            <div class="content">
                                                <div class="metadata">
                                                    <span class="date">Yesterday</span>
                                                    <span class="hour">23:33 AM</span>
                                                </div>
                                                <p class="text">
                                                    Consectetur adipiscing elit.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="tm-line-item">
                                            <div class="tm-icon c-warning"><i class="fa fa-life-bouy"></i></div>
                                            <div class="content">
                                                <div class="metadata">
                                                    <span class="date">Sep 2, 2016</span>
                                                    <span class="hour">13:20 PM</span>
                                                </div>
                                                <p class="text">
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                                    doloremque laudantium
                                                </p>
                                            </div>
                                        </div>
                                        <div class="tm-line-item">
                                            <div class="tm-icon c-info"><i class="fa fa-bitbucket"></i></div>
                                            <div class="content">
                                                <div class="metadata">
                                                    <span class="date">Aug 25, 2016</span>
                                                    <span class="hour">05:56 PM</span>
                                                </div>
                                                <p class="text">
                                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                                                </p>
                                            </div>
                                        </div>
                                        <div class="tm-line-item">
                                            <div class="tm-icon c-primary"><i class="fa fa-shopping-bag"></i></div>
                                            <div class="content">
                                                <div class="metadata">
                                                    <span class="date">Jul 5, 2016</span>
                                                    <span class="hour">11:10 AM</span>
                                                </div>
                                                <p class="text">
                                                    Sed quia non numquam eius
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane calendar-widget panel-body-p" id="project-timing" role="tabpanel">
                                    <div class="todoapp mt-1">
                                        <div class="pb-3">
                                            <input class="new-todo form-control" placeholder="What needs to be done?">
                                        </div>
                                        <section class="todo-list-wrap">
                                            <footer class="footer">
                                                <div class="toggle-wrap">
                                                    <label class="custom-control custom-checkbox mb-0 mr-0">
                                                        <input type="checkbox" class="toggle-all custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                    </label>
                                                </div>
                                                <span class="todo-count"></span>
                                                <div class="filters">
                                                    <a href="#" data-id="all" class="selected">All</a>
                                                    <a href="#" data-id="active">Active</a>
                                                    <a href="#" data-id="completed">Completed</a>
                                                </div>
                                                <button class="btn btn-sm btn-default clear-completed">Clear completed</button>
                                            </footer>
                                            <ul class="todo-list"></ul>
                                            <footer class="footer">
                                                <div class="toggle-wrap">
                                                    <label class="custom-control custom-checkbox mb-0 mr-0">
                                                        <input type="checkbox" class="toggle-all custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                    </label>
                                                </div>
                                                <span class="todo-count"></span>
                                                <div class="filters">
                                                    <a href="#" data-id="all" class="selected">All</a>
                                                    <a href="#" data-id="active">Active</a>
                                                    <a href="#" data-id="completed">Completed</a>
                                                </div>
                                                <button class="btn btn-sm btn-default clear-completed">Clear completed</button>
                                            </footer>
                                        </section>
                                    </div>
                                    <div id='calendar' class="calendar mt-4"></div>
                                </div>
                                <div class="tab-pane" id="project-tasks" role="tabpanel">
                                    <div class="sortable-containment">
                                        <div class="pt-1"></div>
                                        <div class="list sortable-list project-task-list m-0">
                                            <div class="item sortable-list-item py-2">
                                                <div class="pull-left">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                    </label>
                                                </div>
                                                <div class="sortable-list-handle ml-5" ondblclick="window.location.href='project-task.html'">
                                                    <a href="" class="c-gray-dark project-task-header">Right the code of  the header</a>
                                                    <div class="fs-7 mt--1">
                                                        <span class="badge-wrap mt-1 mr-3 badge-success"><span class="badge fs-7">In Progress</span></span>
                                                        <span class="d-inline-block mt-1 mr-3 nowrap"><i class="fa fa-calendar icon-mr-ch"></i><span>Sep 22 - Sep 24</span></span>
                                                        <span class="d-inline-block mt-1 nowrap"><i class="fa fa-clock-o icon-mr-ch"></i><span>1 day 22 hour</span></span>
                                                    </div>
                                                    <div class="controls">
                                                        <span class="priority bg-danger"></span>
                                                        <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                            <i class="icon-options-vertical"></i>
                                                            <div class="menu">
                                                                <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                                <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                                <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                                <div class="divider"></div>
                                                                <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item sortable-list-item py-2">
                                                <div class="pull-left">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                    </label>
                                                </div>
                                                <div class="sortable-list-handle ml-5" ondblclick="window.location.href='project-task.html'">
                                                    <a href="" class="c-gray-dark project-task-header font-weight-bold">Modi tempora incidunt ut labore et dolore</a>
                                                    <div class="fs-7 mt--1">
                                                        <span class="badge-wrap mt-1 mr-3 badge-success"><span class="badge fs-7">In Progress</span></span>
                                                        <span class="d-inline-block mt-1 mr-3 nowrap"><i class="fa fa-calendar icon-mr-ch"></i><span>Sep 22 - Sep 24</span></span>
                                                        <span class="d-inline-block mt-1 nowrap"><i class="fa fa-clock-o icon-mr-ch"></i><span>1 day 22 hour</span></span>
                                                    </div>
                                                    <div class="controls">
                                                        <span class="priority bg-danger"></span>
                                                        <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                            <i class="icon-options-vertical"></i>
                                                            <div class="menu">
                                                                <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                                <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                                <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                                <div class="divider"></div>
                                                                <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item sortable-list-item py-2">
                                                <div class="pull-left">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                    </label>
                                                </div>
                                                <div class="sortable-list-handle ml-5" ondblclick="window.location.href='project-task.html'">
                                                    <a href="" class="c-gray-dark project-task-header">Nemo enim ipsam voluptatem quia</a>
                                                    <div class="fs-7 mt--1">
                                                        <span class="badge-wrap mt-1 mr-3 badge-success"><span class="badge fs-7">In Progress</span></span>
                                                        <span class="d-inline-block mt-1 mr-3 nowrap"><i class="fa fa-calendar icon-mr-ch"></i><span>Sep 22 - Sep 24</span></span>
                                                        <span class="d-inline-block mt-1 nowrap"><i class="fa fa-clock-o icon-mr-ch"></i><span>1 day 22 hour</span></span>
                                                    </div>
                                                    <div class="controls">
                                                        <span class="priority bg-danger"></span>
                                                        <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                            <i class="icon-options-vertical"></i>
                                                            <div class="menu">
                                                                <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                                <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                                <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                                <div class="divider"></div>
                                                                <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item sortable-list-item py-2">
                                                <div class="pull-left">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                    </label>
                                                </div>
                                                <div class="sortable-list-handle ml-5" ondblclick="window.location.href='project-task.html'">
                                                    <a href="" class="c-gray-dark project-task-header">Voluptas sit aspernatur aut odit aut fugit</a>
                                                    <div class="fs-7 mt--1">
                                                        <span class="badge-wrap mt-1 mr-3 badge-success"><span class="badge fs-7">In Progress</span></span>
                                                        <span class="d-inline-block mt-1 mr-3 nowrap"><i class="fa fa-calendar icon-mr-ch"></i><span>Sep 22 - Sep 24</span></span>
                                                        <span class="d-inline-block mt-1 nowrap"><i class="fa fa-clock-o icon-mr-ch"></i><span>1 day 22 hour</span></span>
                                                    </div>
                                                    <div class="controls">
                                                        <span class="priority bg-danger"></span>
                                                        <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                            <i class="icon-options-vertical"></i>
                                                            <div class="menu">
                                                                <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                                <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                                <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                                <div class="divider"></div>
                                                                <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item sortable-list-item py-2">
                                                <div class="pull-left">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                    </label>
                                                </div>
                                                <div class="sortable-list-handle ml-5" ondblclick="window.location.href='project-task.html'">
                                                    <a href="" class="c-gray-dark project-task-header">Ratione voluptatem sequi nesciunt</a>
                                                    <div class="fs-7 mt--1">
                                                        <span class="badge-wrap mt-1 mr-3 badge-success"><span class="badge fs-7">In Progress</span></span>
                                                        <span class="d-inline-block mt-1 mr-3 nowrap"><i class="fa fa-calendar icon-mr-ch"></i><span>Sep 22 - Sep 24</span></span>
                                                        <span class="d-inline-block mt-1 nowrap"><i class="fa fa-clock-o icon-mr-ch"></i><span>1 day 22 hour</span></span>
                                                    </div>
                                                    <div class="controls">
                                                        <span class="priority bg-primary"></span>
                                                        <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                            <i class="icon-options-vertical"></i>
                                                            <div class="menu">
                                                                <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                                <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                                <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                                <div class="divider"></div>
                                                                <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item sortable-list-item py-2">
                                                <div class="pull-left">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                    </label>
                                                </div>
                                                <div class="sortable-list-handle ml-5" ondblclick="window.location.href='project-task.html'">
                                                    <a href="" class="c-gray-dark project-task-header">Neque porro quisquam est</a>
                                                    <div class="fs-7 mt--1">
                                                        <span class="badge-wrap mt-1 mr-3 badge-success"><span class="badge fs-7">In Progress</span></span>
                                                        <span class="d-inline-block mt-1 mr-3 nowrap"><i class="fa fa-calendar icon-mr-ch"></i><span>Sep 22 - Sep 24</span></span>
                                                        <span class="d-inline-block mt-1 nowrap"><i class="fa fa-clock-o icon-mr-ch"></i><span>1 day 22 hour</span></span>
                                                    </div>
                                                    <div class="controls">
                                                        <span class="priority bg-primary"></span>
                                                        <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                            <i class="icon-options-vertical"></i>
                                                            <div class="menu">
                                                                <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                                <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                                <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                                <div class="divider"></div>
                                                                <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item sortable-list-item py-2">
                                                <div class="pull-left">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                    </label>
                                                </div>
                                                <div class="sortable-list-handle ml-5" ondblclick="window.location.href='project-task.html'">
                                                    <a href="" class="c-gray-dark project-task-header">Dolorem ipsum quia dolor sit amet</a>
                                                    <div class="fs-7 mt--1">
                                                        <span class="badge-wrap mt-1 mr-3 badge-warning"><span class="badge fs-7">Differed</span></span>
                                                        <span class="d-inline-block mt-1 mr-3 nowrap"><i class="fa fa-calendar icon-mr-ch"></i><span>Sep 22 - Sep 24</span></span>
                                                        <span class="d-inline-block mt-1 nowrap"><i class="fa fa-clock-o icon-mr-ch"></i><span>1 day 22 hour</span></span>
                                                    </div>
                                                    <div class="controls">
                                                        <span class="priority bg-primary"></span>
                                                        <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                            <i class="icon-options-vertical"></i>
                                                            <div class="menu">
                                                                <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                                <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                                <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                                <div class="divider"></div>
                                                                <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item sortable-list-item py-2">
                                                <div class="pull-left">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                    </label>
                                                </div>
                                                <div class="sortable-list-handle ml-5" ondblclick="window.location.href='project-task.html'">
                                                    <a href="" class="c-gray-dark project-task-header">Adipisci velit, sed quia non numquam</a>
                                                    <div class="fs-7 mt--1">
                                                        <span class="badge-wrap mt-1 mr-3 badge-warning"><span class="badge fs-7">Differed</span></span>
                                                        <span class="d-inline-block mt-1 mr-3 nowrap"><i class="fa fa-calendar icon-mr-ch"></i><span>Sep 22 - Sep 24</span></span>
                                                        <span class="d-inline-block mt-1 nowrap"><i class="fa fa-clock-o icon-mr-ch"></i><span>1 day 22 hour</span></span>
                                                    </div>
                                                    <div class="controls">
                                                        <span class="priority bgc-gray"></span>
                                                        <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                            <i class="icon-options-vertical"></i>
                                                            <div class="menu">
                                                                <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                                <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                                <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                                <div class="divider"></div>
                                                                <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item sortable-list-item py-2">
                                                <div class="pull-left">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                    </label>
                                                </div>
                                                <div class="sortable-list-handle ml-5" ondblclick="window.location.href='project-task.html'">
                                                    <a href="" class="c-gray-dark project-task-header">Ratione voluptatem sequi nesciunt</a>
                                                    <div class="fs-7 mt--1">
                                                        <span class="badge-wrap mt-1 mr-3 badge-warning"><span class="badge fs-7">Differed</span></span>
                                                        <span class="d-inline-block mt-1 mr-3 nowrap"><i class="fa fa-calendar icon-mr-ch"></i><span>Sep 22 - Sep 24</span></span>
                                                        <span class="d-inline-block mt-1 nowrap"><i class="fa fa-clock-o icon-mr-ch"></i><span>1 day 22 hour</span></span>
                                                    </div>
                                                    <div class="controls">
                                                        <span class="priority bgc-gray"></span>
                                                        <a href="" class="project-list-more ui right simple-select pointing select-dropdown">
                                                            <i class="icon-options-vertical"></i>
                                                            <div class="menu">
                                                                <div class="item"><i class="icon-pencil icon-mr"></i>Edit</div>
                                                                <div class="item"><i class="icon-share icon-mr"></i>Share</div>
                                                                <div class="item"><i class="icon-user-follow icon-mr"></i>Add Assignee</div>
                                                                <div class="divider"></div>
                                                                <div class="item"><i class="fa fa-gear icon-mr"></i>Settings</div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pb-2"></div>
                                    </div>
                                </div>
                                <div class="tab-pane pt-3 panel-body-p" id="project-requests" role="tabpanel">
                                    <div class="comments">
                                        <div class="comment clearfix">
                                            <div class="avatar pull-left"><i class="icon-user"></i></div>
                                            <div class="content">
                                                <a class="author" href="">Reece Collins</a>
                                                <div class="metadata">
                                                    <span class="date">Sep 15, 2020</span>
                                                    <span class="hour">10:28 Am</span>
                                                </div>
                                            </div>
                                            <p class="content text">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat.
                                            </p>
                                            <div class="content actions clearfix">
                                                <div class="pull-right">
                                                    <a href="" class="btn btn-default btn-sm">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment pt-1 clearfix">
                                            <div class="avatar pull-left"><i class="icon-user"></i></div>
                                            <div class="content">
                                                <a class="author" href="">Reece Collins</a>
                                                <div class="metadata">
                                                    <span class="date">Sep 15, 2020</span>
                                                    <span class="hour">10:28 Am</span>
                                                </div>
                                            </div>
                                            <p class="content text">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation.
                                            </p>
                                            <div class="content actions clearfix">
                                                <div class="pull-right">
                                                    <a href="" class="btn btn-default btn-sm">Reply</a>
                                                </div>
                                            </div>
                                            <div class="comments mt-0">
                                                <div class="comment clearfix">
                                                    <div class="avatar pull-left"><i class="icon-user"></i></div>
                                                    <div class="content">
                                                        <a class="author" href="">Reece Collins</a>
                                                        <div class="metadata">
                                                            <span class="date">Sep 15, 2020</span>
                                                            <span class="hour">10:28 Am</span>
                                                        </div>
                                                    </div>
                                                    <p class="content text">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                        eiusmod
                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                        veniam,
                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                        commodo
                                                        consequat.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment pt-1 clearfix">
                                            <div class="avatar pull-left"><i class="icon-user"></i></div>
                                            <div class="content">
                                                <a class="author" href="">Reece Collins</a>
                                                <div class="metadata">
                                                    <span class="date">Sep 15, 2020</span>
                                                    <span class="hour">10:28 Am</span>
                                                </div>
                                            </div>
                                            <p class="content text">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris.
                                            </p>
                                            <div class="content actions clearfix">
                                                <div class="pull-right">
                                                    <a href="" class="btn btn-default btn-sm">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                        <form class="reply clearfix">
                                            <div class="mb-3">
                                                <textarea class="form-control"></textarea>
                                            </div>
                                            <a href="" class="btn btn-default pull-right">Add Reply</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--End Panel-->
                        </div>
                    </div>
                    <!--End Panel-->
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "foot" mode="append"}}
        <script>
            SystemJS.import('scripts/project');
        </script>
    {{/content}}
{{/extend}}
