{{#extend "layout-1" current="tables-advanced-filters"}}
{{! append html code into the content block declared in the layout partial }}
    {{#content "content" mode="append"}}
        <div class="container-fluid content-wrap">
            <div class="row panel-grid" id="panel-grid">
                <div class="col-sm-12 col-md-12 col-lg-12 panel-wrap panel-grid-item grid-stack-item">
                    <!--Start Panel-->
                    <div class="panel bgc-white-dark">
                        <div class="panel-header clearfix  panel-header-p bgc-white-dark panel-header-sm">
                            <h2 class="pull-left">
                                Dynamic Table
                            </h2>
                            {{#embed 'panel-icons' slide='1'}}{{/embed}}
                        </div>
                        <div class="panel-body panel-body-p page-size-table">
                            <div class="page-size-table">
                                <div id="toolbar">
                                    <button id="new-table-row" class="btn btn-primary"><i class="fa fa-file icon-mr"></i>New</button>
                                    <button id="remove-table-row" class="btn btn-danger" disabled><i class="fa fa-trash icon-mr"></i>Delete</button>
                                </div>
                                <div class="modal" id="bt-table-modal">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                            </div>
                                            <div class="modal-footer">
                                                <label class="custom-control custom-checkbox pl-5 mr-4">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Leave Open</span>
                                                </label>
                                                <button type="button" class="btn btn-primary add-data">Add</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table id="table-advanced-filters" class="card-view-no-edit with-filter-controls"></table>
                            </div>
                        </div>
                    </div>
                    <!--End Panel-->
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "foot" mode="append"}}
        <script>
            SystemJS.import('scripts/table');
        </script>
    {{/content}}
{{/extend}}
