/*******************************
            Flag
*******************************/

/*-------------------
       Element
--------------------*/

$ui-flag-sprite-path: "../img/flags.png" !default;
$ui-flag-width: 16px !default;
$ui-flag-height: 11px !default;
$ui-flag-vertical-align: baseline !default;
$ui-flag-margin: 0.5em !default;
