$calendar-max-width: 100% !default;
$calendar-margin: 0 !default;

/* body */
$calendar-header-margin: 0 -1px .5em 0 !default;
$calendar-th-fs: $font-size-5 !default;
$calendar-th-lh: $line-height-3 !default;
$calendar-today-height: 30px !default;
$calendar-today-bg: $brand-primary !default;
$calendar-today-border-radius: 10rem !default;
