@mixin grid-stack-dimensions($grid-stack-columns) {
    .grid-stack.grid-stack-#{$grid-stack-columns} {

        > .grid-stack-item {
            min-width: 100% / $grid-stack-columns;

            @for $i from 1 through $grid-stack-columns {
                &[data-gs-width='#{$i}'] { width: (100% / $grid-stack-columns) * $i; }
                &[data-gs-x='#{$i}'] { left: (100% / $grid-stack-columns) * $i; }
                &[data-gs-min-width='#{$i}'] { min-width: (100% / $grid-stack-columns) * $i; }
                &[data-gs-max-width='#{$i}'] { max-width: (100% / $grid-stack-columns) * $i; }
            }
        }
    }
}

