// Panels
//
// Panel puddings.
$padding-panel-body:      1rem 2rem 0 !default;
$padding-panel-header:    0 0 0 20px !default;
$panel-bottom-padding:    2rem !default;

$panel-header-sm-height: 44px !default;
$panel-header-md-height: 52px !default;
$panel-header-lg-height: 60px !default;
