
/*!
 * @version: 1.1.1
 * @name: todos
 *
 * @author: https://themeforest.net/user/flexlayers
 */

/*-------------------
       View
--------------------*/

$todo-max-width: 100%;
$todo-margin: 0;

/*-------------------
      Elements
--------------------*/
$todo-new-margin: 0 50px 0 70px;;


/* To do list */
$todo-li-padding: 10px 100px 10px 110px;
$todo-li-toggle-padding: 10px 30px 0 30px;
$todo-li-toggle-border: 3px solid $brand-warning;
$todo-list-li-border: 1px solid $white-darkest;
$todo-list-completed-color: $gray;

/* Footer */
$todo-toggle-padding: 0 30px;
$todo-footer-padding: 15px 0;
$todo-footer-color: $gray;
$todo-filters-top: 15px;
$todo-completed-margin: -3px 30px;


/*-------------------
      To do App
--------------------*/
.todoapp { max-width: $todo-max-width; margin: $todo-margin;

/*-------------------
     Elements
--------------------*/
    .new-wrap {margin: $todo-new-margin;}
    header { @include clearfix(); position: relative; }

/*-------------------
     To do List
--------------------*/

    .todo-list-wrap { display: none; position: relative;  z-index: 2; border-top: $todo-list-li-border;}
    .todo-list { margin: 0; padding: 0; list-style: none;
        li { @include clearfix(); position: relative; padding: $todo-li-padding; border-bottom: $todo-list-li-border; margin-bottom: -1px;
            &.editing button,
            &.editing .title,
            &.editing .toggle { display: none; }
            &.editing .edit { display: inline-block; }
            .toggle-li-wrap { left: 0; top: 0; height: 100%; border-right: $todo-li-toggle-border; padding: $todo-li-toggle-padding;
                position: absolute;}
            .title { white-space: pre-line; word-break: break-all; transition: color 0.2s; }
            .edit { display: none; }
            .destroy { display: none; cursor: pointer; position: absolute; top: 9px; right: 30px; transition: color 0.2s ease-out; }
            &.completed .title { color: $todo-list-completed-color; text-decoration: line-through; }
            &:hover .destroy { display: block; }
            &.editing:last-child { margin-bottom: -1px; }
        }

    }

/*-------------------
     Footer
--------------------*/
    .footer { color: $todo-footer-color; padding: $todo-footer-padding; text-align: center; border-bottom: $todo-list-li-border;
        overflow: hidden;  position: relative;
        .toggle-wrap { margin: $todo-toggle-padding; float: left; position: relative; z-index: 2; text-align: left }
        .todo-count { float: left; text-align: left; }
        .filters { margin: 0; padding: 0; list-style: none; position: absolute; right: 0; left: 0; top: $todo-filters-top;}
        .filters a { color: inherit; margin: 3px; padding: 3px 7px; text-decoration: none; border: 1px solid transparent; border-radius: 3px; }
        .filters a:hover { border-color: $gray-lightest; }
        .filters a.selected { border-color: $gray-lighter; }
        .clear-completed { margin: $todo-completed-margin; float: right; position: relative; cursor: pointer }
        .info { margin: 65px auto 0; color: #bfbfbf; font-size: 10px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); text-align: center; }
        .info p { line-height: 1; }
        .info a { color: inherit; text-decoration: none; font-weight: 400; }
        .info a:hover { text-decoration: underline; }
    }


}
.panel-wrap[max-width~="561px"] {
    .todo-list li { padding: 10px 65px;
        .toggle-li-wrap { padding: 10px 16px 0 16px; }
        .destroy { right: 5px; }
    }
    .footer {
        .toggle-wrap { margin: 0 12px 0 16px;; }
        .filters { display: none; width: 100%; padding: 0; margin-top: 3.5rem; text-align: center; position: relative; top: 0; }
        .clear-completed { float: left; margin: -3px 1rem; }
    }
}
